# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
backend/.env
# Angular build output
dist/
tmp/

# VSCode
.vscode/

# Logs
*.log
logs/

# OS generated
.DS_Store
Thumbs.db


